<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainLibrary.Properties.Settings.LoanManagementSystemConnectionString"
            connectionString="Data Source=NAOMI\SQLEXPRESS01;Initial Catalog=LoanManagementSystem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>